.idea
.metadata
RemoteSystemsTempFiles
Servers
DominionServer/.project
DominionServer/.classpath
DominionServer/.settings
DominionServer/build
DominionDesktop/.project
DominionDesktop/.classpath
DominionDesktop/.settings
DominionDesktop/build
